body {
    background-color: red;
    font-family: 'Montserrat', sans-serif;
    background: rgb(11,68,138);
    background: linear-gradient(45deg, rgba(11,68,138,1) 0%, rgba(81,138,208,1) 100%);
}

main {
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ol {
    height: 10%;
    text-align: left;
}

.instrucao {
    margin: 1em;
    color: var(--cor-contraste-claro);
}

.input-container {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    color: var(--cor-base);
}

.input {
    opacity: .5;
    color: var(--cor-base);
    background-color: var(--cor-secundaria);
    font-weight: bolder;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    padding: 1.2rem .5rem .5rem;
    height: 2.75rem;
    width: 100%;
}

.input-label {
    position: absolute;
    top: 1.25rem;
    left: .5rem;
    font-size: 1rem;
    transition: all .25s;
    font-weight: bold;
}

.input::placeholder {
    visibility: hidden;
    color: #000;
}

.input:focus {
    outline: none;
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .2s;
}

footer {
    height: 15vh;
    background-color: #fff;
    display: flex;    
    justify-content: space-around;
}

h1 {
    font-weight: bold;
}



